<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <button type="submit">Iniciar Session</button>
    </form>
</template>-->
-------

<!--<template>
	<div>
	<NavHome :color="color"/>
	<div class="login">
	<h1>INICIAR SESIÓN</h1>
  
    <form method="post" @submit.prevent = "submit">
  <table>
    <tr>
      <th>
	  <input id="email" class="input100" type="email" name="email" placeholder="Correo Electronico" v-model="form.email" autocomplete="off">
      </th>  
    </tr>
    <tr>
	<input class="input100" type="password" name="password"  id="password" placeholder="Password"  v-model="form.password">
    </tr>
      </table>
            <button type="submit" class="btn btn-primary btn-block btn-large" > 
      Login </button>    
    </form>
</div> 
	</div>
</template>-->


<template>
    <div>
	<h1>INICIAR SESIÓN</h1>
	
    <form method="post" @submit.prevent = "submit">
   <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Site<span>Random</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"  v-model="form.email" autocomplete="off"><br>
				<input type="password" placeholder="password" name="password" v-model="form.password"><br>
				 <button type="submit" class="btn btn-primary btn-block btn-large" > 
      Login </button>   
		</div>
    </form>
    </div>

</template>


<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
	name:'SignIn',
	components:{NavHome},
    data(){
        return {
            form:{
                email:'',
                password:''
			},
			color:'black'
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
			try {
				await this.signIn(this.form)
				this.$router.replace({name:'dashboard.post'})	
			} catch (error) {
				let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
			}
        }
    }
}
</script>
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Site<span>Random</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login">
		</div>