<!----<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</template>--->
<!--<template>
<form autocomplete="off" class="animated fadeInDown">
  <div class="login-form">
    <h1>sign in</h1>
    <label for="email">email</label>
    <input type="text" id="user" placeholder="email@email.com" required />
    <label for="password">password</label>
    <input type="password" id="pwd" placeholder="**********" required />
    <label for="chkKeep">
      <input type="checkbox" id="chkKeep" name="chkKeep" required /> Remember me</label>
    <a href="#">Forgot</a>
    <input type="submit" id="submit" value="sign in" />
    <p>or</p>
    <ul>
      <a href="https://instagram.com/1erikcruz" class="insta" target="_blank">
        <span class="icon-instagram"></span>
        <li>Instagram</li>
      </a>
      <a href="https://twitter.com/1erikcruz" class="twitter" target="_blank">
        <span class="icon-twitter"></span>
        <li>Twitter</li>
      </a>
    </ul>
  </div>
</form>
</template>-->
<!--<template>
<div>
    <div>
        <form  action="#" @submit.prevent = "submit">
        <div class="container">
            <h1>REGISTARSE PARA EL SISTEMA</h1>
            <p>porfavor crear una cuenta nueva/p>
            <hr>
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" name="name" id="name" v-model="form.name">
            <br>
            <label for="email"><b>Correo Electronico</b></label><br>    
            <input type="text" name="email" id="email" v-model="form.email"><br>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" v-model="form.password"><br>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" v-model="form.password_confirmation" required><br>
            <hr>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button>
        </div>
        <div class="container signin" >
            <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
    </form>
    </div>
</div>
</template>-->

<template>
<div>
    <div>
        <form  action="#" @submit.prevent = "submit">
        <div class="container">
            <h1>REGISTARSE PARA EL SISTEMA</h1>
            <p>porfavor crear una cuenta nueva/p>
            <hr>
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" name="name" id="name" v-model="form.name">
            <br>
            <label for="email"><b>Correo Electronico</b></label><br>    
            <input type="text" name="email" id="email" v-model="form.email"><br>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" v-model="form.password"><br>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" v-model="form.password_confirmation" required><br>
            <hr>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button>
        </div>
        <div class="container signin" >
            <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
    </form>
    </div>
</div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>